{% extends "shop/base.html" %}
{% load i18n %}
{% load static %}

{% block title %}
    {% trans "Kasa" %}
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static "css/create.css" %}">
<section>
    <div class="title">{% trans "Kasa" %}</div>
    <div class="create-order">
        <div class="order-info">
            <div class="info-title">{% trans "Twoje zamówienie" %}</div>
            <ul>
                {% for item in cart %}
                <li>
                    {{ item.quantity }}x &nbsp;{{ item.product.name }}
                    <span>{{ item.total_price|floatformat:2 }} zł</span>
                </li>
                {% endfor %}
                {% if cart.coupon %}
                <li>
                    {% blocktrans with code=cart.coupon.code discount=cart.coupon.discount %}
                        "{{ code }}" ({{ discount }}% rabatu)
                    {% endblocktrans %}
                    <span class="neg"> - {{ cart.get_discount|floatformat:"2" }} zł</span>
                </li>
                {% endif %}
            </ul>
            <p class="total-value">{% trans "Wartość całkowita" %}: <span>{{ cart.get_total_price_after_discount|floatformat:2 }} zł</span></p>
        </div>
        
        <form action="." method="post" class="order-form">
            <div class="info-title">{% trans "Dane do zamówienia" %}</div>
            {{ form.as_p }}
            <p><input id="order-form-submit" type="submit" value="{% trans "Złóż zamówienie" %}"></p>
            {% csrf_token %}
        </form>
    </div>
</section>
{% endblock %}