.title {
    margin: 2rem 0;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
}

#content section {
    width: 100%;
    height: 100%;
    padding: 0 8rem;
}

.create-order {
    display: flex;
    justify-content: center;
}

#order-form-submit {
    padding: .5rem;
    cursor: pointer;
    font-size: 1.2rem;
    height: auto;
    text-transform: uppercase;
}

.order-form {
    border-left: 1px dashed black;
}

form p {
    display: flex;
    margin: 2rem 1.4rem;
}

form p:last-of-type {
    padding: 1rem 1rem;
}

.order-form p label {
    width: 9rem;
    margin: auto;
}

p input {
    height: 2rem;
    width: 14rem;
}

.info-title {
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 5rem 2rem 0;
}

form .info-title {
    padding-left: 1rem;
}

.order-info {
    margin-right: 3rem;
}

ul {
    margin: 1rem 0;
    border-bottom: 1px solid black;
}

ul li {
    padding: .5rem;
}

ul li span {
    float: right;
    font-weight: bold;
    margin-left: 2rem;
}

.neg {
    color: red;
}

.total-value {
    font-size: 1.2rem;
}

.total-value span {
    font-weight: bold;
    float: right;
}
